.border {
    margin: 1.5rem 0;
    border: solid 0.1px #F5F5F5!important;
}

/* Delivery Details */
.deliver__details p {
    font-size: 14px;
}

/* Fedex Information */
.card__container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.fedex__info {
    margin: 0 1rem;
    font-size: 12px;
}

.detail__container h4 {
    font-size: 14px;
    font-weight: bold;
}

.fedex__info p, address {
    margin-bottom: 0;
}

.fedex__image {
    width: 64px;
    border-radius: 5px;
}